.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 1.25rem;
}

.button {
  background-color: white;
  color: var(--text-dark);
  padding: 0.625rem 0.9rem;
  font-size: 1.25rem;
  border: 1px solid var(--background-medium);
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu.show {
  display: block;
}

.menu-item {
  color: var(--text-dark);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--hover-background);
}

.menu-item:hover {
  background-color: var(--primary-color);
}

@media screen and (min-width: 1201px) {
  .dropdown {
    display: none;
  }
}
