.container {
  max-width: 67.2rem;
  padding: 1.875rem 0;
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
}

.heading {
  padding: 0 2.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin: 0;
  margin-bottom: 0.625rem;
}

.subheading {
  padding: 0 2.5rem;
  font-size: 1.25rem;
  color: var(--text-dark);
  font-weight: 500;
  margin: 0 0px 1.25rem 0px;
}

.divider {
  border: none;
  border-top: 1px solid var(--background-medium);
  margin: 0;
}

.section {
}

.sectionContent {
  padding: 0 2.5rem;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 100%;
  }

  .sectionContent,
  .heading,
  .subheading {
    padding: 0 1.25rem;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 1.75rem;
    font-weight: 900;
  }

  .container {
    width: 100%;
    background-color: var(--foreground-color);
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  .heading,
  .subheading {
    padding: 0 1.25rem;
  }
}
