.addOnContainer {
  position: relative;
  height: 3.375rem;
  width: 100%;
  max-width: 28.125rem;
  min-width: 20%;
  border: 1px solid var(--background-medium);
  background-color: var(--foreground-color);
  display: flex;
  align-items: center;
  padding: 0 0.9rem;
  box-sizing: border-box;
  border-radius: 4px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.radioButton {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--link-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.radioButton:checked {
  background-color: var(--link-color);
  box-shadow: inset 0 0 0 3px var(--foreground-color);
}

.radioButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.comingSoonBanner {
  width: fit-content;
  background-color: var(--border-color);
  border-radius: 0.25rem;
  color: var(--muted-text);
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.188rem 0.313rem;
  position: absolute;
  top: -0.563rem;
  left: 1rem;
}

@media screen and (max-width: 1500px) {
  .addOnContainer {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .addOnContainer {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .addOnContainer {
    max-width: 100%;
    width: 100%;
    padding: 0 0.625rem;
  }

  .text {
    font-size: 1.125rem;
  }
}
