.deviceCard {
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  max-height: fit-content;
  padding: 0;
}

.defaultInputGroup {
  display: flex;
  gap: 1.25rem;
}

.title {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--text-dark);
}

.inputGroup {
  /* width: 50%; */
  margin-bottom: 16px;
}

.section {
  max-width: 50%;
}

.inputGroup label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  color: #555;
  font-size: 0.9rem;
}

.inputGroup input[type='text'] {
  width: 28.125rem;
  max-width: 100%;
  height: 3.375rem;
  padding: 0 0.9rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
  box-sizing: border-box;
}

.inputGroup input[type='file'] {
  width: 20.9375rem;
  height: 10rem;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
}

.toggleGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.toggleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.25rem;
  height: 1.125rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-medium);
  transition: 0.4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--link-color);
}

input:checked + .slider:before {
  transform: translateX(18px);
}

.byodGroup {
  display: flex;
  gap: 1.25rem;
}

.toggleDescription {
  font-size: 1rem;
  color: var(--text-dark);
  margin-top: 0.9rem;
}

.fileName {
  margin-top: 4px;
  font-size: 0.8rem;
  color: #666;
}

.uploadButton {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10rem;
  width: 100%;
  background-color: var(--text-light);
  border: 1px solid var(--background-medium);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;

  text-align: center;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .byodGroup,
  .defaultInputGroup {
    flex-direction: column;
  }

  .section {
    max-width: 100%;
  }
  .inputGroup input[type='text'] {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .inputGroup label,
  .inputGroup input[type='text'],
  .inputGroup input[type='file'],
  .toggleDescription,
  .uploadButton {
    font-size: 1rem;
  }

  .toggleGroup {
    flex-direction: row;
    align-items: center;
  }

  .toggleHeader {
    margin-bottom: 0;
    margin-right: 16px;
  }
}
