.customPaymentCardInputField {
  transition: 200ms all ease-in-out;
}

.customPaymentCardInputFieldInner {
  max-width: 30rem;
  width: fit-content;
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding: 0.9rem 1.25rem;
  transition: 200ms all ease-in-out;
  border: 1px solid var(--background-dark);
  border-radius: 4px;
}

.inputField {
  outline: none;
  background-color: transparent;
  border: none;
  color: var(--background-dark);
  font-size: 1.125rem;
  font-weight: 500;
  transition: 200ms all ease-in-out;
}

.inputField::placeholder {
  color: var(--background-dark);
  opacity: 1;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}

.inputField::-ms-input-placeholder {
  color: var(--background-dark);
  opacity: 1;
}

.inputField {
  outline: none;
  border: none;
  background-color: transparent;
}

.inputField:focus,
.inputField:active {
  outline: none;
  border: none;
  box-shadow: none;
}

.cardNumberInputField,
.cardValidityInputField,
.cardCvcNumberInputField {
  border: none;
  outline: none;
}

.cardNumberInputField {
  width: 13rem;
  height: 1.375rem;
}

.cardValidityInputField {
  width: 4.4rem;
  margin-left: 4.5rem;
  height: 1.375rem;
}

.cardCvcNumberInputField {
  width: 2.7rem;
  height: 1.375rem;
  margin-left: 2.5rem;
}

.errorText {
  color: red;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.3;
  display: block;
  margin-top: 0.625rem;
}

.iconContainer {
  margin-right: 1.25rem;
}

.cardValidityContainer,
.cardNumberContainer {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .customPaymentCardInputFieldInner {
    max-width: 100%;
    width: 100%;
    gap: 1.375px;
    box-sizing: border-box;
  }

  .cardValidityInputField {
    /* width: 3.75rem; */
    margin-left: auto;
  }

  .cardCvcNumberInputField {
    /* width: 2.5rem; */
    margin-left: auto;
  }

  .iconContainer {
    margin-right: 0.6rem;
  }

  .inputField::placeholder {
    color: var(--background-dark);
    opacity: 1;
    font-size: 1rem;
  }
}

@media screen and (max-width: 440px) {
  .customPaymentCardInputFieldInner {
    align-items: flex-start;
    flex-direction: column;
  }
}
